<mat-toolbar class="header">
    <button style="margin-right: 12px;" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon style="color: #5F6368" class="material-icons-outined">menu</mat-icon>
    </button>
    <span><img style="width: 26px;" src={{logo}} alt=""></span>
    <span class="heading">Keep</span>
    <span class="example-spacer"></span>
    <button style="color: #5F6368" mat-icon-button class="material-icons-outined" aria-label="Example icon-button with heart icon">
      <mat-icon>refresh</mat-icon>
    </button>
    <button style="color: #5F6368" mat-icon-button class="material-icons-outined" aria-label="Example icon-button with heart icon">
        <mat-icon>view_stream</mat-icon>
      </button>
      <button style="color: #5F6368; margin-right: 40px;" mat-icon-button class="material-icons-outined" aria-label="Example icon-button with heart icon">
        <mat-icon>settings</mat-icon>
      </button>
    <button style="color: #5F6368" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>